{% extends 'app/base.html' %}
{% block title %}Add Product{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Product</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add Product</button>
                <br/>
                <br/>
                <br/>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}